<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Define la pestaña "Quickcomm" -->
        <tab id="quickcomm" translate="label" sortOrder="401" class="ds-extensions">
            <label>Quickcomm</label>
        </tab>

        <!-- Sección principal del módulo -->
        <section id="quickcomm_gravity" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Quickcomm Gravity</label>
            <tab>quickcomm</tab>
            <resource>Quickcomm_Gravity::configuration</resource>

            <!-- Grupo general -->
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <!-- Campo para habilitar el módulo -->
                <field id="enabled" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select <b>Yes</b> to enable this module.]]></comment>
                </field>

                <!-- Campos del módulo original -->
                <field id="x_org_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Org Id</label>
                </field>
                <field id="client_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Client id</label>
                </field>
                <field id="client_secret" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Client secret</label>
                </field>
                <field id="hooks_url_products" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>WebHooks URL Productos</label>
                </field>
                <field id="hooks_url_orders" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>WebHooks URL Ordenes</label>
                </field>

                <!-- Campo adicional de Omnipro -->
                <field id="url_token" translate="label comment" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>URL Token</label>
                </field>

                <!-- Campo para habilitar debug -->
                <field id="debug" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select <b>Yes</b> to enable log recording in var/log/quickcomm_gravity.log]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
