<?xml version="1.0"?>
<!--
/**
 * Gravity system configuration
 *
 * @category  Gravity
 * @package   Gravity
 * @author    Gravity Team <support@gravity.com>
 * @copyright Copyright (c) 2023 Gravity (https://www.gravity.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Define la pestaña "Gravity" -->
        <tab id="gravity" translate="label" sortOrder="401" class="ds-extensions">
            <label>Gravity</label>
        </tab>

        <!-- Sección principal del módulo -->
        <section id="gravity" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gravity Core</label>
            <tab>gravity</tab>
            <resource>Gravity_Core::configuration</resource>

            <!-- Grupo general -->
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <!-- Campo para habilitar el módulo -->
                <field id="enabled" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select <b>Yes</b> to enable this module.]]></comment>
                </field>

                <!-- Campos del módulo original -->
                <field id="x_org_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Organization ID</label>
                    <comment><![CDATA[Enter your Gravity Organization ID.]]></comment>
                </field>
                <field id="client_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Client ID</label>
                    <comment><![CDATA[Enter your Gravity Client ID.]]></comment>
                </field>
                <field id="client_secret" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Enter your Gravity Client Secret.]]></comment>
                </field>
                <field id="hooks_url_products" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>WebHooks URL for Products</label>
                    <comment><![CDATA[Enter the URL for product webhooks.]]></comment>
                </field>
                <field id="hooks_url_orders" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>WebHooks URL for Orders</label>
                    <comment><![CDATA[Enter the URL for order webhooks.]]></comment>
                </field>

                <!-- Campo adicional de Omnipro -->
                <field id="url_token" translate="label comment" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>URL Token</label>
                    <comment><![CDATA[Enter the URL for token authentication. If empty, the default URL will be used.]]></comment>
                </field>

                <!-- Campo para habilitar debug -->
                <field id="debug" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select <b>Yes</b> to enable log recording in var/log/gravity.log]]></comment>
                </field>
            </group>
            
            <!-- Grupo para métodos de pago y envío -->
            <group id="methods" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment and Shipping Methods</label>
                
                <field id="pgravity_active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable PGravity Payment Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable cash payment method for API/admin use only.]]></comment>
                </field>
                
                <field id="lgravity_active" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable LGravity Shipping Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable store pickup shipping method for API/admin use only.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>

