<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Event: sales_order_save_before -->
    <event name="sales_order_save_before">
        <!-- Mantén el observer original -->
        <observer name="q_g_save_order_before" instance="Quickcomm\Gravity\Observer\BeforeSave"/>
        <!-- Agrega el observer adicional como complemento -->
        <observer name="q_g_save_order_before_custom" instance="Quickcomm\Gravity\Observer\CustomBeforeSave"/>
    </event>

    <!-- Event: sales_order_save_after -->
    <event name="sales_order_save_after">
        <observer name="q_g_order" instance="Quickcomm\Gravity\Observer\AfterOrder"/>
    </event>

    <!-- Event: catalog_product_save_before -->
    <event name="catalog_product_save_before">
        <observer name="q_g_product_save_before" instance="Quickcomm\Gravity\Observer\BeforeSave"/>
    </event>

    <!-- Event: catalog_product_save_after -->
    <event name="catalog_product_save_after">
        <observer name="q_g_new_product" instance="Quickcomm\Gravity\Observer\AfterProduct"/>
    </event>

    <!-- Event: catalog_product_delete_before -->
    <event name="catalog_product_delete_before">
        <observer name="q_g_delete_product" instance="Quickcomm\Gravity\Observer\BeforeDeleteProduct"/>
    </event>

    <!-- Event: cataloginventory_stock_item_save_after -->
    <event name="cataloginventory_stock_item_save_after">
        <observer name="q_g_save_qty" instance="Quickcomm\Gravity\Observer\AfterQty"/>
    </event>

    <!-- Event: catalog_product_import_bunch_save_after -->
    <event name="catalog_product_import_bunch_save_after">
        <observer name="q_g_import_products" instance="Quickcomm\Gravity\Observer\AfterImportDataObserver"/>
    </event>

</config>
